{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
    <a href="{{url_for('universidade.cadastrar')}}">Cadastrar</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for universidade in universidades %}
            <tr class="tr-shadow">
                <td>{{ universidade.id }}</td>
                <td class="desc">{{ universidade.nome }}</td>
                <td>
                    <div class="">
                        <a href="/universidade/atualizar/{{ universidade.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">Editar</button>
                        </a>
                        <a href="/universidade/excluir/{{ universidade.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">Excluir</button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}