{% from "macros.html" import render_field %}

{% extends "base.html" %}


{% block content %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
{{ form.csrf_token }}
    
        {{ render_field(form.nome, type='text') }}
    
        {{ render_field(form.login, type='text') }}
    
        {{ render_field(form.senha, type='password') }}
                
        <input type="submit" class="btn btn-primary btn-sm btn-submit" value="Salvar"/> 
        <a href="" class="btn btn-danger btn-sm">Cancelar</a>
    </div>
</form>
{% endblock %}
