{% from "macros.html" import render_field %}

{% extends "base.html" %}

{% block content %}
<form action='{{url_for("usuario.login")}}' method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ render_field(form.login, type='text') }}
    </div>
    
        {{ render_field(form.senha, type='password') }}
    </div>
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.errors %}
            <div class="has-error">  {{ field.label }}  {{ field(size=80, class_='form-control') }}</div>
            <span style="color: red;">{% for error in field.errors %}{{ error }}{% if not loop.last %}<br />{% endif %}{% endfor %}</span>
        {% endif %}
    {% endfor %}
    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Login</button>
</form>

{% endblock %}