{% from "macros.html" import render_field %}

{% extends "base.html" %}


{% block content %}
<div class="container">
<div class="row">
        <div class="col-2">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
                {{ form.csrf_token }}
                
                        {{ render_field(form.matricula, type='text') }}

                        {{ render_field(form.token, type='text') }}

                        <input type="submit" class="btn btn-primary btn-sm btn-primary" value="Salvar"/> 
                        <a href="" class="btn btn-danger btn-sm">Cancelar</a>
                
                </form>
        </div>
        <div class="col-2">        
                {% if  carteirinha %}
                <div class="card" style="width: 18rem;">
                        <img src="{{carteirinha.foto_url}}" class="card-img-top" alt="{{carteirinha.nome}} {{carteirinha.sobrenome}}">
                        <div class="card-body">
                                <h5 class="card-title">{{carteirinha.nome}} {{carteirinha.sobrenome}}</h5>
                                <p class="card-text">Mensagem sobre o status da carteirinha</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{carteirinha.universidade}}</li>
                                <li class="list-group-item">{{carteirinha.curso}}</li>
                        </ul>
                </div>
        </div>
</div>
</div>
{% endif %}
{% endblock %}
