{% extends "base.html" %}


{% block links %}
<link href="{{ url_for('static', filename='css/img_modal.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block content %}
<!-- The Modal -->
<div id="img_modal" class="modal">
    <span class="img_close">&times;</span>
    <img class="modal-content" id="img">
    <div id="caption"></div>
</div>
<div class="table-responsive">
    <a href="{{url_for('carteirinha.solicitar')}}">Solicitar</a>
    <table id="solicitacoes" class="table">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Matricula</th>
                <th>Universidade</th>
                <th>Curso</th>
                <th>CPF</th>
                <th>Nascimento</th>
                <th>Token</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for carteirinha in carteirinhas %}
            <tr class="tr-shadow">
                <td><img class="mx-auto d-block thumbnail" src="{{carteirinha.foto_url}}" alt="{{ carteirinha.nome }}" width="60"></td>
                <td>{{ carteirinha.nome }}</td>
                <td>{{ carteirinha.sobrenome }}</td>
                <td>{{ carteirinha.matricula }}</td>
                <td>{{ carteirinha.universidade.nome }}</td>
                <td>{{ carteirinha.curso.nome }}</td>
                <td>{{ carteirinha.cpf }}</td>
                <td>{{ carteirinha.data_nascimento }}</td>
                <td>{{ carteirinha.token }}</td>
                <td>{{ carteirinha.status_str }}</td>
                <td>
                    <div class="">
                        <a href="/carteirinha/atualizar/{{ carteirinha.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Editar">Editar</button>
                        </a>
                        <a href="/carteirinha/excluir/{{ carteirinha.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Excluir">Excluir</button>
                        </a>
                        <a href="/carteirinha/aprovar/{{ carteirinha.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Aprovar">Aprovar</button>
                        </a>
                        <a href="/carteirinha/reprovar/{{ carteirinha.id }}">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Reprovar">Reprovar</button>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="spacer"></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script>
    $('.thumbnail').click(function() {
        var img = $(this);
        var modal = document.getElementById("img_modal");
        var modalImg = document.getElementById("img");
        var captionText = document.getElementById("caption");
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        var btn_close = document.getElementsByClassName("img_close")[0];
        btn_close.onclick = function() {
            modal.style.display = "none";
        }
    });
</script>
{% endblock %}