{% from "macros.html" import render_field %}

{% extends "base.html" %}


{% block content %}

<div class="container">
        <div class="row btn">
                <a href="{{url_for('carteirinha.consultar')}}">Consultar Status</a>
        </div>
        <div class="row">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" novalidate="novalidate">
                {{ form.csrf_token }}
                        <div class="row">
                                <div class="col-sm">
                                {{ render_field(form.email, type='text') }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm">       
                                        {{ render_field(form.nome, type='text') }}
                                </div>
                                <div class="col-sm">
                                        {{ render_field(form.sobrenome, type='text') }}
                                </div>
                        </div>
                        <div class="row"> 
                                <div class="col-sm">
                                        {{ render_field(form.cpf, type='text') }}
                                </div>
                                <div class="col-sm">
                                        {{ render_field(form.matricula, type='text') }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm">
                                        {{ render_field(form.data_nascimento, type='text') }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm">
                                        {{ render_field(form.universidade, type='text') }}
                                </div>
                                <div class="col-sm">
                                        {{ render_field(form.curso, type='text') }}
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-sm">
                                        {{ render_field(form.foto, type='file') }}
                                </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm btn-primary" value="Solicitar"/> 
                        <a href="" class="btn btn-danger btn-sm">Cancelar</a>
                
                </form>
        </div>
</div>
{% endblock %}
