<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block links %}
    {% endblock %}
    {% if current_user.is_authenticated %}
    <title>DCE Digital - Admin</title>
    {% else %}
    <title>DCE Digital</title>
    {% endif %}
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            {% if current_user.is_authenticated %}
            <h5 class="my-0 mr-md-auto font-weight-normal">DCE Digital - Admin</h5>
            {% else %}
            <h5 class="my-0 mr-md-auto font-weight-normal">DCE Digital</h5>
            {% endif %}

            {% if current_user.is_authenticated %}
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{url_for('universidade.lista')}}">Universidade</a>
            </nav>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{url_for('curso.lista')}}">Curso</a>
            </nav>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{{url_for('carteirinha.lista')}}">Solicitacoes</a>
            </nav>
            {% endif %}
            
            <a class="btn btn-outline-primary" href="{{url_for('carteirinha.solicitar')}}">Carteirinha</a>
        </div>
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
    
</body>
</html>