{% extends "base.html" %}

{% block content %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">DCE Digital</h1>
        <p class="lead text-muted">Diretório Central dos Estudantes é uma entidade estudantil que representa todos os estudantes de uma instituição de ensino superior, sejam elas universidades, faculdades ou centros universitários.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Carteirinhas</a>
          <a href="#" class="btn btn-secondary my-2">Entre em contato</a>
        </p>
      </div>
    </section>
  </main>
{% endblock %}
