{% macro render_field(field) %}
<div class="form-group">    
    {{ field.label }}
    {{ field(class="form-control", **kwargs)|safe }}
    {% if field.errors %}
    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
       <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>  
{% endmacro %}
